:root {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  color: #280003;
  background-color: #baa898;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 300;
  line-height: 1.2
}

h1 {
  font-size: calc(1.2rem + 1.5vw);
  font-weight: 600;
  background-color: #c2847a;
  padding: 5px;
  text-align: center;
}

h2 {
  font-size: calc(1.2rem + .9vw);
  font-weight: 400;
}

a {
  color: #5b5c5d;
  text-decoration: none;
}

a:hover {
  color: #848586
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.form-container,
.inventory-container {
  max-height: 0px;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.form-container.expand {
  max-height: 750px;
  margin-bottom: 50px;
}

.inventory-container.expand {
  max-height: 2000px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.btn {
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .375rem .5rem;
  font-size: 1rem;
}

.btn-primary {
  color: #eee0cb;
  background-color: #660007;
  border-color: #660007;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #eee0cb;
  background-color: #280003;
  border-color: #280003;
}

.btn-primary:active:focus {
  box-shadow: 0 0 0 .25rem #660007;
}

table {
  font-size: .875rem;
  caption-side: bottom;
  border-collapse: collapse;
}

.table {

  width: 100%;
  margin-bottom: 1rem;
  color: #222;
  border-color: #dee2e6;
}

.table>:not(caption)>*>* {
  padding: .25rem .25rem;
  border-bottom-width: 1px;
}

tr:nth-child(even) {
  background-color: #eee0cb;
}

tbody,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0
}

th {
  text-align: inherit;
}

label{
  display:inline-block;
  font-size:calc(1rem + .2vw);
}

.btn-lg {
  padding: .25rem .25rem;
  font-size: 1.25rem;
}

.btn-info {
  color:#a8594d;
}

.btn-danger {
  color: #eee0cb;
  background-color: #a3000b;
  border-color: #a3000b;
  text-decoration: none;
}

.btn-danger:hover,
.btn-danger:focus {
  color: #eee0cb;
  background-color: #8f000a;
  border-color: #8f000a;
}

.btn-danger:active {
  color: #eee0cb;
  background-color: #660007;
  border-color: #660007;
}

.form-control {
  display: block;
  width: 100%;
  padding: .25rem .25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #280003;
  background-color: #eee0cb;
  border: 3px solid #eee0cb;
}

.form-control:focus {
  color: #222;
  background-color: #eee0cb;
  border-color: #c2847a;
  outline: 0;
}

.form-group {
  margin-bottom: 16px;
}

fieldset {
  min-width:0;
  padding:0;
  margin:0;
  border:0;
}

legend {
  float:left;
  width:100%;
  padding:0;
  font-size:calc(1rem + .2vw);
  line-height:inherit;
}

.fieldset-div1 {
  margin-bottom: 4px;
}

select {
  background-color: #eee0cb;
  color: #280003;
  margin-left: 13.5px;
}

input[type='radio']:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #eee0cb;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #faf6f0;
}

input[type='radio']:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #c2847a;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #faf6f0;
}

#costume-pic {
  margin-left: 13.5px;
}

.alert {
  color: #eee0cb;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  padding: .25rem .25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0;
}

.alert-success {
  background-color: #848586;
  border-color: #98999a;
}

.alert-danger {
  background-color: #a3000b;
  border-color: #cc000e;
}

@media (min-width:1200px) {
  h1 {
    font-size: 2.5rem
  }

  h2 {
    font-size: 2rem
  }

  .container {
    max-width: 1140px
  }
  
  legend {
    font-size:1.5rem;
  }
}